body{
  background-color: #FFE0C7;
  color: #3B3D3D;
  font-family: helvetica;
}

h1, h2, h3 {
  color: #A30000;
}

a, a:visited {
  text-decoration: none;
  color: #3B3D3D;
}

a:hover, .roll li:hover {
  color: #A30000;
}

.wrapper{
  width: 1200px;
  margin: 50px auto;
}

.sidebar, .content {
  padding: 10px;
}

.page-title {
  text-align: center;
}

header h1{
  display: inline-block;
}
#logo{
  width: 150px;
  display: inline-block;
}

.sidebar{
  width: 30%;
  background-color: #fafafa;
  float: left;
}

.content {
  width: 60%;
  background-color: #fafafa;
  float: left;
  margin-left: 5%;
}

.roll {
  list-style: none;
  padding: 0;
}
