<html>

<head>
  <title>5 - API</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="app" class='wrapper'>
    <header>
      <input type="text" v-model="lookup">
      <button v-if="lookup" v-on:click="get">go</button>
    </header>

    <img v-for="gif in gifs" v-bind:src="gif.images.fixed_height.url">
  </div>
  <script type="text/javascript" src="api.js"></script>
</body>

</html>
