body{
  background-color: black;
  color: white;
  font-family: "Arial";
}

.wrapper{
  width: 900px;
  margin: 0 auto;
}

.answer{

  background-image: url('http://blog.psychics.com/img/8ball-triangle.png');
 background-size: cover;
 background-position: center;
  width: 500px;
  height: 500px;
  margin: 10px auto; 
  border-radius: 100%;
  border: solid white 1px;
}

.answer p{
  margin: 0 auto;
  width: 150px;

  margin-top: 225px;
  text-align: center;
}

h2{
  text-align: center;
}
